
# ------------------------------
#  Personal Aliases

# List everything
alias ll='ls -al . --color=auto'

# List directories
alias lsd='ls -l ${colorflag} | grep "^d"'

# Edit files with IDE of choice
alias edit='subl'

alias reload="source ~/.zshrc"

# Open current directory in finder
alias finder="open ."

# dir navigation
alias ..='cd ..'
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Week number
alias week='date +%V'

# Now
alias now='date +"%Y %b %d, %r"'

# Shut up || Pump it up
alias shutup="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"

# Current git branch
alias branch="git rev-parse --abbrev-ref HEAD"

# Make it rain
alias rain="open -a 'music' ~/Music/trimmedrain.m4a"

# Kubernetes
alias k='kubectl'
alias kg='kubectl get'
alias kgp='kubectl get pods'
alias kdp='kubectl describe pods'

alias lg='lazygit'
